<div class='show-travel' data-travel={{id}} data-user={{user_id}}>
  
  <div class='col-sm-8'>
    
    <div class='row show-travel-info'>
      <h3>{{title}}</h3>
      <p class='date'>from {{initial_date}} to {{final_date}}</p>
      <div class='col-sm-5'>
        <div class='travel-img'>
          <img src={{avatar}}>
        </div>
        <button id='link-form-update' data-id='{{id}}' type='submit'>Update!</button>
        <button id='btn-delete' data-id='{{id}}' type='submit'>Delete!</button>
      </div>

      <div class='col-sm-7 info'>
        <p class='description'>{{description}}</p>
        <dl>
          <dd> Countries:  {{countries}}</dd>
          <dd> Places:  {{places}}</dd>
          <dd> Budget:  {{budget}}</dd>
          <dd> Tags:  {{tags}}</dd>
          <dd> Requirement:  {{requirements}}</dd>
          <dd> Maximum people:  {{maximum_people}}</dd>
          <dd> Total people:  {{people}}</dd>
        </dl>
      </div>

    </div>
  
    <div class='row comments-private'>
      <div><button id="btn-form-private-comment">Write a comment!</button></div> 
    </div>

  </div> 

  <div class='col-sm-1'>
    <div class='travel-travelers'>
    
    </div>
  </div>

  <div class='col-sm-3'>
    <div class='comments-public'>
      <div><button id="btn-form-public-comment">Write a comment</button></div>
    </div>
  </div>

</div>
