<div class='show-travel' data-travel={{id}} data-user={{user_id}}>
  
  <div class='col-xs-8'>
    
    <div class='row show-travel-info'>
      <h2>{{title}}</h2>
      <dl>
        <dt> Initial date </dt><dd>{{initial_date}}</dd>
        <dt> Final date </dt><dd>{{final_date}}</dd>
        <dt> Description </dt><dd>{{description}}</dd>
        <dt> Countries </dt><dd>{{countries}}</dd>
        <dt> Places </dt><dd>{{places}}</dd>
        <dt> Budget </dt><dd>{{budget}}</dd>
        <dt> Tags </dt><dd>{{tags}}</dd>
        <dt> Requirements</dt><dd>{{requirements}}</dd>
        <dt> Maximum people </dt><dd>{{maximum_people}}</dd>
        <dt> Total people </dt><dd>{{people}}</dd>
      </dl>
      <button id='link-form-update' data-id='{{id}}' type='submit'>Update!</button>
      <button id='btn-delete' data-id='{{id}}' type='submit'>Delete!</button>
    </div>
  
    <div class='row comments-private'>
      <div><button id="btn-form-private-comment">Write a comment</button></div> 
    </div>

  </div> 

  <div class='col-xs-1'>
    <div class='travel-travelers'>
    
    </div>
  </div>

  <div class='col-xs-3'>
    <div class='comments-public'>
      <div><button id="btn-form-public-comment">Write a comment</button></div>
    </div>
  </div>

</div>
