<div>
  <h2>{{title}}</h2>
  <dl>
    <dt> Initial date </dt><dd>{{initial_date}}</dd>
    <dt> Final date </dt><dd>{{final_date}}</dd>
    <dt> Description </dt><dd>{{description}}</dd>
    <dt> Countries </dt><dd></dd>
    <dt> Places </dt><dd></dd>
    <dt> Budget </dt><dd>{{budget}}</dd>
    <dt> Tags </dt><dd></dd>
    <dt> Requirements</dt><dd></dd>
    <dt> Maximum people </dt><dd>{{maximum_people}}</dd>
    <dt> Total people </dt><dd>{{people}}</dd>
  </dl>
  <button id='btn-update' data-id='{{id}}' type='submit'>Update!</button>
  <button id='btn-delete' data-id='{{id}}' type='submit'>Delete!</button>
</div>
