<div class='row user-profile'>
  <dl class='user-info'>
    <dt>Name:</dt><dd class='name'>{{first_name}} {{last_name}}</dd>
    <dt>Address:</dt><dd class='address'>{{address}}, {{city}} ({{country}})</dd>
    <dt>Date of birth:</dt><dd class='date-of-birthday'>{{date_of_birth}}</dd>
    <dt>Email:</dt><dd class='email'>{{email}}</dd>
    <dt>Phone:</dt><dd class='telephone'>{{telephone}}</dd>
  </dl>
</div>

<div class='row user-travels'>
</div>

<div class='row user-travels'>
</div>