<div class='row user-info'>
  <dl>
    <img id='profile-img' src="{{avatar}}">
    <dt>Surname</dt>
    <dd>{{last_name}}</dd>
    <dt>Name</dt>
    <dd class='name'>{{first_name}}</dd>
    <dt>Nationality</dt>
    <dd>{{country}}</dd>
    <dt>Date of birth:</dt>
    <dd class='date-of-birthday'>{{date_of_birth}}</dd>
    <dt>Address:</dt>
    <dd class='address'>{{address}}, {{city}}</dd>
  </dl>
</div>

<div class='row user-links'>
  <a href="/" id='btn-profile'>Index</a><br>
  <a href="/" id='link-form-new'>Create a travel</a><br>
  <a href="/" id='link-new-form-traveler'>Create a traveler</a><br>
  <a href="/" id='link-form-user-update'>Edit my profile</a>
  <div class='my-travels'>
  </div>
</div>