<div class='row user-info'>
  <dl>
    <img id='profile-img' src="{{avatar}}">
    <dt>Name:</dt><dd class='name'>{{first_name}} {{last_name}}</dd>
    <dt>Address:</dt><dd class='address'>{{address}}, {{city}} ({{country}})</dd>
    <dt>Date of birth:</dt><dd class='date-of-birthday'>{{date_of_birth}}</dd>
    <dt>Email:</dt><dd class='email'>{{email}}</dd>
    <dt>Phone:</dt><dd class='telephone'>{{telephone}}</dd>
  </dl>
  <a href="/" id='btn-profile'>Index</a><br>
  <a href="/" id='link-form-new'>Create a travel</a><br>
  <a href="/" id='link-new-form-traveler'>Create a traveler</a><br>
  <a href="/" id='link-form-user-update'>Edit my profile</a>
</div>