<div class='traveler' id='{{id}}'>
  <h5>{{first_name}} {{last_name}}</h5>
  <a href="/" id='link-update-form-traveler' data-id='{{id}}'>Edit</a> / 
  <a href="/" id='btn-traveler-delete' data-id='{{id}}'>Delete</a>
  <img src="{{avatar}}">
</div>