<!DOCTYPE html>
<html>
<head>
  <title>Travelholic</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/header' %>

<section class='row'>

<%= render 'partials/aside' %>

<section class='col-xs-9 main'>
  <%= yield %>
</section>

</section>

<%= render 'partials/footer' %>

<%= javascript_include_tag 'application' %>

</body>
</html>
